<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../../partials/header'); %>
</header>

<main style="padding-top: 20px;">
  <form action="/api/notes/newNote" method="POST" class="position-relative">
    <label for="inputName" class="sr-only">Username</label>
    <input
      type="name"
      id="username"
      name="username"
      class="form-control"
      placeholder="Username"
      required=""
      value = '<%= user.firstname + " " + user.lastname %>'
      readonly
      style="margin-bottom: 2px;"
    />
    <label for="inputPassword" class="sr-only">Title</label>
    <input
      type="text"
      id="title"
      name="title"
      class="form-control"
      placeholder="Title"
      required=""
      style="margin-bottom: 2px;"
    />
    <input 
      type="text" 
      id="topic" 
      name="topic"
      class="form-control" 
      placeholder="Topic"
      required
      style="margin-bottom: 2px;">
    <textarea 
      required 
      class="form-control" 
      id="content" 
      name="content" 
      placeholder="Take a note..." 
      style="margin-bottom: 2px;"
      rows="12"></textarea>
    
    <br />
    <div class="form-group">
      <button type="submit" class="btn btn-primary btn-lg">+ Add Note</button>
    </div>

  </form>
</main>

<footer>
  <%- include('../../partials/footer'); %>
</footer>

</body>
</html>